.kt-message_wrapper {
  position: fixed;
  background: var(--kt-white);
  width: 280px;
  min-height: 180px;
  border-radius: 4px;
  right: 2.5%;
  bottom: 12.5%;
  box-shadow: 1px 1px 2px 1px #d0d0d0;
}

.kt-message__header {
  background: var(--kt-dark);
  padding: 10px;
  color: var(--kt-white);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.kt-message_content {
  padding: 10px;
}

.kt-message_wrapper::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: var(--kt-white);
  bottom: -8px;
  right: 20%;
  transform: rotate(45deg);
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

.kt-message_wrapper.active {
  animation: slideInRight 0.5s ease-in-out 0s 1 forwards normal;
}

.kt-message_wrapper.dispose {
  animation: slideOutRight .5s ease-in-out 0s 1 forwards normal;
}

.kt-message_wrapper .ui.button {
  width: 100%;
}