.notification {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 6px rgba(191, 218, 245, 0.7);
  padding: 12px;
  width: 73.5%;    
  border-radius: 4px;
  font-weight: 600;
  background: var(--kt-white);
}

.notification.kt-danger {
  background: var(--kt-error);
  border: 1px solid var(--kt-red);
  color: var(--kt-red);
}

.notification.kt-success {
  border: 1px solid var(--kt-green);
  color: var(--kt-dark);
}