.notification.kt-danger {
    background: var(--kt-error);
    padding: 10px;
    width: 73.5%;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.notification {
  display: flex;
  justify-content: space-between;
}
