// .kt-stk__group {
//   display: grid;
//   grid-template-columns: 25% 75%;
//   grid-column-gap: 10px;
// }

.kt-stk-group__header {
  display: grid;
  grid-template-columns:  55% 35%;
  grid-column-gap: 10px;
}

.kt-stk__content {
  display: grid;
  grid-template-columns: 55% 35% calc(10% - 20px);
  grid-column-gap: 10px;
}

.kt-stk__content .ui.selection.dropdown {
  // min-width: 8em;
}
