.file-preview__wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 80px;
  left: 0;
  background: var(--kt-light);
  z-index: 99;

  .file-preview {
    background: var(--kt-white);
  }
}

