.file-preview__wrapper {
  position: relative;
  z-index: 100;
}

.file-preview__content {
  position: fixed;
  display: grid;
  width: 96%;
  top: 80px;
  left: 0;
  background: var(--kt-white);
  margin-left: 2%;
  margin-right: 2%;
  z-index: 100;

  .file-preview {
    background: var(--kt-dark);
    color:  var(--kt-white);
    overflow-y: scroll;
  }

  .preview-controls {
    background: var(--naturalLight);
    padding: 20px;
  }

  .file-preview-header {
    padding: 10px;
    padding-right: 30px;
  }

  .file-preview-header div {
    float: right;
  }
  
  .file-preview-content__body {
    display: grid;
    grid-template-columns: 70% 30%;
    top: 80px;
    left: 0;
    background: var(--kt-white);
    height: calc(100vh - 130px);
  }
}

.file-preview__backdrop {
  background: black;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  opacity: 0.25;
  z-index: 98;
}

img.full-width {
  width: 100%;
  height: auto;
}

img.fit-height {
  height: 100%;
  width: auto;
  margin: auto;
}