.message-preview {
  position: absolute;
  background: var(--kt-white);
  min-height: 100%;
  top: 0;
  left: 0;
  padding: 40px;
  width: 100%;

  .message-preview__body  {
    padding: 30px;
  }

  svg {
    fill: var(--kt-light);
  }

  .message-preview__body p {
    line-height: 1.7;
  }

  .ui.button.flex-center {
    display: flex;
  }
}

.file-item__wrapper {
  display: flex;
}

.file-item__wrapper .file-item{
  margin-right: 15px;
}


