{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "react-app",
    "eslint: recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "rules": {
    "react/boolean-prop-naming": [
      "error",
      {
        "validateNested": true
      }
    ],
    "react/jsx-indent": [<enabled>, 'tab',
      {
        "checkAttributes": true,
        "indentLogicalExpressions": true
      }
    ]
  }
}