{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "react-app",
    // "plugin:react/recommended",
    // "airbnb"
  ],
  "rules": {
    "react/boolean-prop-naming": [
      "error",
      {
        "validateNested": true
      }
    ],
    "react/jsx-indent": [
      1, 'tab',
      {
        "checkAttributes": true,
        "indentLogicalExpressions": false
      }
    ],
    // "allowIndentationTabs": 2
  }
}