.kt-wrapper {
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(212, 212, 213, 0.7);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-height: 500px;
}

.kt-wrapper__content {
  padding: 20px;
}

.kt-wrapper__header {
  background: rgba(241, 245, 249, 0.3);
  border-radius: 6px 6px 0px 0px;
  padding: 20px;
  color: var(--kt-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9E2E8;
}

.kt-wrapper__header .ui.selection.active.dropdown .menu {
  border: none;
  border-color: transparent;
}

.kt-wrapper__body {
  display: block;
  min-height: 90%;
}

.kt-wrapper__footer {
  position: relative;
  bottom: 0;
  background: rgba(241, 245, 249, 0.31);
  width: 100%;
  padding: 15px;
  border: 1.2099px solid #DBDEE2;
  box-sizing: border-box;
  // border-radius: 2.05684px;
  border-radius: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.kt-wrapper__footer .content {
  width: 80%;
  margin: auto;
}

.kt-wrapper__footer .ui.button:not(:last-child) {
  margin-right: 20px;
}