.form-group {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 10px;
  width: 80%;
}

.form-group.block {
  display: block;
}

.form-group.block label {
  display: block;
  margin-bottom: 4px;
}

.form-group.fluid {
  width: 100%;
}

.form-group.center {
  align-items: center;
}

.form-group .ui.input {
  width: 100%;
}