.supplier-list-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #D9E2E8;
  padding: 10px 0;
  align-items: center;
}

.supplier-list-item h2 {
  margin-bottom: 0;
}

.inline.supplier-list__item {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  padding: 15px 0;
}
  
  .inline.supplier-list__item:not(:last-child) {
    border-bottom: 1px solid red;
  }