.user-details__wrapper {
  padding: 20px;
  border-top: 1px solid #DFDFDF;;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 6fr 2fr;
}

.user-details__wrapper .clickable {
  color: var(--kt-blue);
}

.user-details__wrapper h3 {
  color: var(--kt-black);
  margin-block-end: 0.45em;
  // font-size: 1.5rem;
}

.user-details__wrapper div:nth-child(2) > div:nth-child(3) {
  color: var(--kt-black);
}

.user-details__wrapper .ui.circular.label, .ui.circular.labels .label {
  min-width: 3em;
  min-height: 3em;
  padding: 0.95em .85em !important;
}

.name-caption h3{
  display: inline;
}

.name-caption h3 + span {
  background: var(--kt-green__light);
  padding: 0 2px;
  color: var(--kt-white);
  border-radius: 4px;
  margin-left: 8px;
  display: inline-block;
}

.user-details__wrapper .xsm-caption .ui.button {
  margin: 8px 0;
}

.user-details__wrapper .ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background: var(--kt-green);
  border-color: var(--kt-green);
}

.user-details__wrapper .ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  opacity: 1;
  color: var(--kt-white);
}

.user-details__wrapper .ui.checkbox .box:after, .ui.checkbox label:after {
  width: 14px;
  height: 14px;
}

.user-details__wrapper .ui.checkbox .box:before, .ui.checkbox label:before {
  width: 14px;
  height: 14px;
}
