.menu-option {
  margin-left: 20px;
}

.nav-wrapper {
  color: var(--kt-dark);
  margin-top: 20px;
}

.nav-main__wrappper {
  position: fixed;
  // font-size: 0.9em;
}


.ui.accordion .item .active.title {
  color: var(--kt-black);
  font-weight: 700;
}

.kt-logo__small {
  width: 15px;
  height: 15px;
}

.kt-logo__very-small {
  width: auto;
  height: 10px;
}

.kt-logo__small,
.kt-logo__very-small {
  margin-right: 4px;
  fill: var(--kt-dark);
}

.kt-logo__medium {
  height: 50px;
  width: auto;
}