.menu-option {
  margin-left: 20px;
}

.nav-wrapper {
  color: var(--kotage-dark);
  margin-top: 20px;
}

.nav-main__wrappper {
  position: fixed;
}


.ui.accordion .item .active.title {
  color: var(--kotage-black);
}

.home-logo {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  fill: var(--kotage-dark);
}