.message-wrapper {
  position: relative;
}

.message-preview {
  position: absolute;
  background: var(--kt-white);
  min-height: 100%;
  top: 0;
  left: 0;
  padding: 40px;
  width: 100%;

  .message-preview__body  {
    padding: 20px;
  }

  svg {
    fill: var(--kt-light);
  }
}


.message-center__heading {
  padding: 15px;
  background: #F1F1F1;
}

.message-center__heading,
.message-item {
  display: grid;
  grid-template-columns: 80% 20%;
}

.message-item {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 20px calc(80% - 40px) 20%;
  column-gap: 10px;
}

.ui.button.message-item__wrapper:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-left: 2px solid var(--kt-light);
}

.ui.button.message-item__wrapper {
  text-align: left;
  font-family: 'Open sans';
  font-weight: 300;
}

.message-center__heading h4 {
  display: inline-block;
  margin: 0;
}
.message-center__body {
  min-height: 200px;
}

.message-wrapper .ui.menu {
  margin: 0;
}


.message-wrapper .ui.menu .item {
  padding: 0 15px;
}

.message-wrapper .ui.menu {
  min-height: 2.0em;
}

// .message-wrapper .blue .dropdown.icon {
//   color: var(--kt-blue);
// }

.message-box.fluid {
  width: 100%;
}

.attachment-wrapper .attachment {
  fill: var(--kt-dark);
}


.attachment-wrapper input[type=file]{
  opacity: 0;
  width: 40px;
}

.attachment-wrapper {
  position: relative;
}

.attachment-label {
  position: absolute;
  padding: 4px;
}

.message-wrapper .ui.button.flex-center {
  display: flex;
}
