.message-center__heading {
  padding: 15px;
  background: #F1F1F1;
}

.message-center__heading,
.message-item {
  display: grid;
  grid-template-columns: 80% 20%;
}

.message-item {
  padding: 0 15px;
}
.message-center__heading h4 {
  display: inline-block;
  margin: 0;
}
.message-center__body {
  min-height: 200px;
}

.message-wrapper .ui.menu {
  margin: 0;
}


.message-wrapper .ui.menu .item {
  padding: 0 15px;
}

.message-wrapper .ui.menu {
  min-height: 2.0em;
}

.message-wrapper .blue .dropdown.icon {
  color: var(--kt-blue);
}

.message-box.fluid {
  width: 100%;
}
