.header {
  background: var(--kt-black);
  padding: 10px 0;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header .content {
  // width: 70%;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 4px;
  align-items: center;
}

.header-offset {
  position: relative;
  height: 60px;
}

.kotage-logo {
  width: 140px;
}


@media only screen and (max-width: 1440px) {
  .header .content {
    width: 76%;
  }
}