.header {
  background: var(--kotage-black);
  padding: 10px 0;
  color: white;
  position: fixed;
  width: 100%;
}

.header .content {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-offset {
  position: relative;
  height: 60px;
}

.kotage-logo {
  width: 140px;
}

