:root {
  --kt-black: #1a1a1a;
  /* --kt-dark: #292929; */
  --kt-dark:#4E5C6E;
  /* --kt-dark: #1a1a1a; */
  --kt-white: #fff;
  --kt-blue: #0666D0;
  /* --kt-green: #00996B; */
  --kt-green: #00ae55;
  --kt-green__light: rgba(0, 174, 85, 0.70);
  --kt-green__very-light: #91d3b1;
  /* --kt-green__light: #00AE56; */
  --kt-red: #DB2828;
  --kt-error: #cf2a25bf;
  --kt-off-grey: #FBFCFD;
  --kt-dark-grey: #505050;
  --kt-light : #D9E2E8;
}
