
.kt-divider {
  .logo {
    visibility: hidden;
  }
}

.kt-divider.hoverable:hover .logo {
  visibility: visible;
}

.kt-divider.faint {
  border-bottom: 1px solid #DFDFDF;
}

.kt-divider.danger {
  color: var(--kt-red);
}

.kt-divider.success {
  color: var(--kt-green);
}

.kt-divider.thick {
  border-bottom: 2px solid #D9E2E8;
}

.kt-divider.thick.kt-success,
.kt-divider.faint.kt-success {
  border-bottom: 2px solid var(--kt-green);
}

.kt-divider.thick.kt-danger {
  border-bottom: 2px solid var(--kt-red);
}

.kt-divider__wrapper {
  display: grid;
  grid-template-columns: 5% calc(95% - 10px);
  grid-column-gap: 10px;
  align-items: center;
}