
.kt-divider {
  padding-bottom: 10px;
}

.kt-divider.faint {
  border-bottom: 1px solid #DFDFDF;
}

.kt-divider.thick {
  border-bottom: 2px solid #D9E2E8;
}

.kt-divider.thick.kt-success {
  border-bottom: 2px solid var(--kt-green);
}

.kt-divider.thick.kt-danger {
  border-bottom: 2px solid var(--kt-red);
}