.kt-toolbar-wrapper {
  margin-top: 30px;
  color: var(--kt-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.kt-toolbar,
.rdw-editor-toolbar {
  border: 1px solid rgba(212, 212, 213, 0.7);
}

.kt-toolbar {
  background: var(--kt-off-grey);
}

.kt-editor {
  min-height: 200px;
  padding: 0 20px;
  border: 1px solid rgba(212, 212, 213, 0.7);
}

// override defualt behaviour
.rdw-option-wrapper {
  min-width: 20px;
  height: 14px;
}

.kt-block {
  font-size: 0.80em;
  font-weight: 600;
}
