.signin__wrapper {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  width: 40%;
  margin: auto;
  padding-top: 10%;
  font-size: 0.85rem;
}

.signin__content {
  position: relative;
  display: block;
  width: 350px;
  height: 100%;
  border: 2px solid #e8e9e9;
  margin: auto;
  border-radius: 2px;
}

.signin__body {
  padding: 40px;
}

.signin__body p {
  font-size: 0.85rem;
}

.sigin__content-logo {
  text-align: center;
  padding: 20px;
}

.signin__footer {
  text-align: center;
  padding: 10px;
}

.kt__wrapper_active {
  animation: slideInRight 0.3s ease-in-out 0s 1 forwards normal;
  background: var(--white);
}

.signin__wrapper img.small.logo {
  width: 120px;
}

.signin__wrapper .ui.button,
.signin__wrapper .ui.form input  {
  border-radius: 2px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    // background: red !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    // background: blue !important;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    // background: green !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
  body {
    // background: green !important;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    // background: indianred !important;
  }
}

@media only screen and (min-width: 1680px) {
  body {
    // background: blue !important;
  }
}

@media only screen and (min-width: 1920px) {
  .signin__content {
    width: 400px;
  }

  .signin__wrapper {
    padding-top: 15%;
  
  }
}