.signin__wrapper {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  width: 40%;
  margin: auto;
  padding-top: 17%;
  font-size: 0.95rem;
}

.signin__content {
  position: relative;
  display: block;
  width: 350px;
  height: 100%;
  border: 1px solid #e8e9e9;
  margin: auto;
  border-radius: 4px;
  background: var(--kt-white);
}

.signin__body {
  padding: 40px;
}

.signin__body p {
  font-size: 0.85rem;
}

.signin__footer {
  text-align: center;
  padding-bottom: 10px;
}

.kt__wrapper_active {
  display: block;
  // animation: slideInRight 0.3s ease-in-out 0s 1 forwards normal;
  background: var(--white);
}

.signin__wrapper .ui.button,
.signin__wrapper .ui.form input  {
  border-radius: 2px;
}

.kt__wrapper_active .logo.very.small {
  width: 18px;
  padding: 4px;
}

.kt__wrapper_active .logo.very.small:hover {
  background: #d1d1d1;
  border-radius: 50%;
}

.kt__wrapper_active_cta {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.signin__wrapper .ui.small.button.transparent {
  background: var(--kt-white);
  border: none;
  margin: 0;
  padding: 0;
  color: var(--kt-blue)
}

// mobile devices
@media only screen and (max-width: 600px){
  .signin__wrapper {
    width: 90%;
    padding-top: 180px;
  }

  .signin__content {
    width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    // background: blue !important;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    // background: green !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
  body {
    // background: green !important;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    // background: indianred !important;
  }
}

@media only screen and (min-width: 1680px) {
  body {
    // background: blue !important;
  }
}

@media only screen and (min-width: 1920px) {
  .signin__content {
    width: 360px;
  }

  .signin__wrapper {
    padding-top: 15%;
  
  }
}