.rfx-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  list-style: none;
  padding-inline-start: 0;
  width: 90%;
  margin: auto;
}

.rfx-content .wrapper{
  position: relative;
  border: 1px solid var(--kt-light);
  height: 100%;
  border-radius: 2px;
}

// .rfx-content .wrapper svg {
//   filter: grayscale(100%);
// }

.rfx-content .wrapper:hover svg,
.rfx-content .wrapper.active svg {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.rfx-content .wrapper .rfx-wrapper__caption {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 8px;
  visibility: hidden;
}

.rfx-content .wrapper .rfx-wrapper__caption svg {
  height: auto;
  width: 30px;
}

.rfx-content .content {
  padding: 20px;
}

.kt-rfx__icon {
  width: 60%;
  margin-left: 15%;
}

.rfx-content li:active,
.rfx-content .wrapper.active {
  border: 1px solid var(--kt-green);
}

.rfx-content .wrapper.active svg {
  filter: grayscale(0%);
}

.kt-content__wrapper .flex-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.ui.form .kt-content__wrapper ul {
  list-style: none;
  display: inline;
}

// apply style to only the second 
.ui.form .kt-content__wrapper .feild:nth-child(2n) {
  margin-left: 30px;
}

.ui.form .kt-content__wrapper .field.idle {
  padding: 20px 40px;
  border: 1px solid #d9e3e8;
  margin: 0;
}

.ui.form .kt-content__wrapper .field.active {
  padding: 20px 40px;
  border: 1px solid var(--kt-green__light);
  margin: 0;
}

.kt-wrapper__content .wrapper.active .rfx-wrapper__caption {
  visibility: visible;
}