.user-invitation {
  width: 32%;
  margin: auto;
  padding-top: 100px;
}

.user-invitation .kt-textarea__wrapper {
  width: 90%;
  margin: auto;
}

.user-invitation .kt-textarea__wrapper textarea {
 min-height: 80px !important;
}