.user-invitation {
  // width: 640px;
  // margin: auto;
  // padding-top: 100px;
  // padding: 0 100px;
}

.user-invitation .kt-textarea__wrapper {
  width: 90%;
  margin: auto;
}

.user-invitation .kt-textarea__wrapper textarea {
 min-height: 80px !important;
}

.user-invitation .label.kt-success {
  background: var(--kt-green);
  color: var(--kt-white);
}