@import "./style//variables.css";
@import "./style/animation.css";
@import "./style/semantic//dist/semantic.min.css";
@import './style/util.css';
@import "./style//semantic-ui-override.css";

body {
  /* font-size: 16px; */
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: rgba(235, 238, 235, 0.35);
  color: var(--kotage-dark);
}

a {
  color: var(--kt-blue);
}

/* override font for headings */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  width: 70%;
  margin: auto;
}

/* style for the main application layout */
.main-layout {
  display: grid;
  /* grid-template-columns: 1.4fr 6fr 2fr; */
  grid-template-columns: 1.4fr 6fr;
  grid-column-gap: 20px;
  padding: 30px 0;
  min-height: 500px;
}

.bold {
  font-weight: 900;
}

.bold.light-caption {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  /* font-size: 13px; */
  line-height: 18px;
  color: rgba(78, 92, 110, 0.5);
}

.big-caption {
  font-size: 1.35rem;
}

.kt-primary {
  color: var(--kt-blue);
}

.kt-success {
  color: var(--kt-green);
}

.kt-danger {
  color: var(--kt-red);
  /* animation: fadeOut 3s ease-in-out 1 forwards normal; */
}

.kt-main__content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

ul.custom {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
}

.clickable {
  cursor: pointer;
}

.sm-caption {
  font-size: 1rem;
}

.kt-logo__small.kt-primary {
  fill: var(--kt-blue);
}

.kt-content__wrapper {
  position: relative;
  padding: 20px;
}

.help {
  font-size: 0.9em;
}

.hide {
  display: none;
}