.docs-group {
  display: grid;
  // grid-template-columns: 20% 80%;
}

.docs-wrapper__content {
  display: grid;
  // grid-template-columns: 40% 50% 10%;
  grid-template-columns:37% 50% 10%;
  grid-column-gap: 20px;
}

.docs-wrapper__header {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-column-gap: 5px;
}