.ui.form .text-wrapper__header {
  height: 40px;
  width: 100%;
  background: #FBFCFD;
  border: 1px solid #DBDEE2;
  box-sizing: border-box;
}

.kt-textarea__wrapper textarea {
  min-height: 180px;
  border-radius: 2px;
}

.kt-textarea__wrapper textarea:focus{
  outline: 1px solid var(--kt-light);
}