.bid-caption {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 90%;
  padding-right: 30px;
  border-right: 1px solid #DFDFDF;
}

.bid-caption-item {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  column-gap: 40px;
}

.bid-caption__wrapper {
  display: grid;
  grid-template-columns: 1.15fr 1.5fr;
  column-gap: 20px;
  padding: 20px 0;
}

.kt-circular-progress.CircularProgressbar .CircularProgressbar-path{
  stroke: var(--kt-green);
}

.CircularProgressbar.kt-circular-progress {
  width: 70%;
}

.kt-circular-progress.CircularProgressbar .CircularProgressbar-text {
  font-size: 3rem;
  fill: var(--kt-dark);
}

.rfp-suppliers__heading {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 30%;
  padding: 0 15px;
}

.rfp-suppliers__item {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 30% 30%;
  padding: 15px;
  border: 1px solid #DFDFDF;
  border-left: 4px solid var(--kt-light);
  border-radius: 2px;
  align-items: center;
}

.rfp-suppliers__item.active {
  border-left: 4px solid var(--kt-green);
}

.kt-opaque {
  background: #f8f9f8;
  padding: 20px;
}

.square-caption {
  font-size: 1.2rem;
  color: var(--kt-dark);
  font-weight: 800;
  padding: 8px;
  border: 1px solid var(--kt-light);
  width: 65%;
  margin: auto;
}

// .kt-doc-list__heading,
// .kt-doc-list__content {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
// }

// media queries
@media only screen and (max-width: 600px) {
  
}

@media only screen and (max-width: 1280px) {
  .bid-caption-item {
    grid-template-columns: repeat(3, 50px);
    column-gap: 10px;
  }

  .rfp-suppliers__item {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1440px) {
  .bid-caption-item {
    // grid-template-columns: repeat(3, 60px);
    column-gap: 20px;
  }
}

/* for large screens */
@media only screen and (min-width: 1680px) {

}


/* very large screens */
@media only screen and (min-width: 1920px) {

}